# 1.   
       *
      ***
     *****
    *******

In [1]:
for row in range(1,5):
    for sp in range(5, row,-1):
        print(" ", end='')
    for col in range(1,2*row):
        print("*", end='')
        row +=1
    print()

    *
   ***
  *****
 *******

# 2.
         1
        123
       12345
      1234567

In [2]:
for row in range(1,5):
    for sp in range(5, row,-1):
        print(" ", end='')
    for col in range(1,2*row):
        print(col, end='')
        row +=1
    print()

    1
   123
  12345
 1234567

# 3. 

    1
    0 1
    1 0 1
    0 1 0 1

In [8]:
for row in range(0,4):
    for col in range(0,row+1):
        if (row+col)%2==0:
            print(' 1 ', end='')
        else:
            print(' 0 ', end='')
    print()

 1
 0  1
 1  0  1
 0  1  0  1

# 4. 

    1
    0 1
    0 1 0
    1 0 1 0

In [12]:
n = int(input("Enter your number: "))
S = 1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(S%2, end = ' ')
        S += 1
    print()

Enter your number: 4
1
0 1
0 1 0
1 0 1 0