In [1]:
import pandas as pd

In [2]:
furniture = pd.read_clipboard()

In [3]:
d1 = {"Item":['Sofa','Dining Table','Chair','Sofa','Chair','Dining Table'],
      "Material":['Wooden','Plywood','Plastic','Stainless Steel','Wooden','Aluminum'],
      "Colour":['Maroon','Yellow','Red','Silver','Light Blue','Golden'],
      "Price":[25000,20000,1500,55000,2500,65000]}
print(d1)

{'Item': ['Sofa', 'Dining Table', 'Chair', 'Sofa', 'Chair', 'Dining Table'], 'Material': ['Wooden', 'Plywood', 'Plastic', 'Stainless Steel', 'Wooden', 'Aluminum'], 'Colour': ['Maroon', 'Yellow', 'Red', 'Silver', 'Light Blue', 'Golden'], 'Price': [25000, 20000, 1500, 55000, 2500, 65000]}

In [18]:
furniture = pd.DataFrame(d1)
print(furniture)

           Item         Material      Colour  Price
0          Sofa           Wooden      Maroon  25000
1  Dining Table          Plywood      Yellow  20000
2         Chair          Plastic         Red   1500
3          Sofa  Stainless Steel      Silver  55000
4         Chair           Wooden  Light Blue   2500
5  Dining Table         Aluminum      Golden  65000

# Display the details of the sofa.

In [19]:
furniture[furniture["Item"]=="Sofa"]

   Item         Material  Colour  Price
0  Sofa           Wooden  Maroon  25000
3  Sofa  Stainless Steel  Silver  55000

# Display the details of the chair

In [20]:
furniture[furniture["Item"]=="Chair"]

    Item Material      Colour  Price
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

# b) Display furniture details which price is more than 25000.

In [22]:
furniture[furniture["Price"]>25000]

           Item         Material  Colour  Price
3          Sofa  Stainless Steel  Silver  55000
5  Dining Table         Aluminum  Golden  65000

# c) Display the furniture details price under 10000.

In [23]:
furniture[furniture["Price"]<=10000]

    Item Material      Colour  Price
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

# d) Display alternative rows.

In [24]:
furniture.iloc[::2]

    Item Material      Colour  Price
0   Sofa   Wooden      Maroon  25000
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500