# Pandas

pandas is an open source python's library, providing high performance data manipulation and data 
analysis tools using its powerful structure.

# Use of Pandas Library:-
#### 1. Cleaning the data.
#### 2. Data Processing.
#### 3. Exploring the Data.
#### 4. Collection of Data.

# Pandas deals with the following three data sturctures:-
#### 1. Series : means 1D
#### 2. DataFrame : means 2D
#### 3. Panel means 3D

##### All  Pandas data Structures are values mutuable (can be changed)

In [1]:
# !pip install pandas

In [2]:
#series: series is one dimensional array like structure with homogeneous 
# data (means collection of similar type of data)
# 1D array means many rows but  only one columns

#  Key points of series data structure ;
#   1. Homogeneous Data
#   2. Size Immutable.
#   3. Values of data mutable.

In [3]:
import pandas as pd # pd is a alias names of pandas

In [4]:
# A SERIES (1D array) can be created by using various inputs like:
# Array  : 1D numpy array
# Dict
# List

In [5]:
# first create a list
L = [10,20,30,40,50,60,70,]
print(L)
print(type(L))

[10, 20, 30, 40, 50, 60, 70]
<class 'list'>

In [6]:
# To converts the list object L into Series data structure
A=pd.Series(L)
print(A)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [7]:
A=pd.Series(L)
print(A)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [8]:
A[2]

30

In [9]:
# Modifying the indexing 
A=pd.Series(L, index =["a","b","c","d","e","f","g"])
print(A)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

In [10]:
A['b']

20

In [11]:
# or 
A[1]

20

In [12]:
# Create the dictionary
d = {"eno":110,"Ename":"Rahul Jadhav","age":23,"city":"Mumbai"}
print(d)

{'eno': 110, 'Ename': 'Rahul Jadhav', 'age': 23, 'city': 'Mumbai'}

In [13]:
X=pd.Series(d)
print(X)

eno               110
Ename    Rahul Jadhav
age                23
city           Mumbai
dtype: object

In [14]:
d["eno"]

110

In [15]:
X[['eno','age']]

eno    110
age     23
dtype: object

# 25 - 10 - 2021

In [16]:
# DataFrame(): inbuilt function of pandas library
# DataFrame: create a 2D array means two dimensional array means many rows and in each row, many 
# columns means to hold data in tabular form means Collection of 2 or more series are create Dataframe
'''
Name      Age      Mobile        Email
Anu        23      9078456451    anu@itvedant.com
Seema      31      9001789455    Seema@itvedant.com


keypoints of DataFrame:
1. Heterogeneous data for eg. in above table : Name is string type, Age is int type , mobile is int type
and Email is string type.
2. Data Mutable means can be changed
3. Size mutable
'''

'\nName      Age      Mobile        Email\nAnu        23      9078456451    anu@itvedant.com\nSeema      31      9001789455    Seema@itvedant.com\n\n\nkeypoints of DataFrame:\n1. Heterogeneous data for eg. in above table : Name is string type, Age is int type , mobile is int type\nand Email is string type.\n2. Data Mutable means can be changed\n3. Size mutable\n'

In [17]:
# A pandas DataFrame can be created using various inputs:
# 1. lists
# 2. dict
# 3. Series
# 4. 2D Numpy array

In [18]:
# Create a DataFrame with the help of Dictionary
# First Create a Dictionary

d1 = {'name':['Siya','Rahul','Deepak','Raj','Suresh'], 'Age':[23,21,24,26,19],
      'city':['Mumbai','Pune','Nasik','Indore','Delhi'],'Marks':[34,56,78,90,89]}
print(d1)

{'name': ['Siya', 'Rahul', 'Deepak', 'Raj', 'Suresh'], 'Age': [23, 21, 24, 26, 19], 'city': ['Mumbai', 'Pune', 'Nasik', 'Indore', 'Delhi'], 'Marks': [34, 56, 78, 90, 89]}

In [19]:
# To Create aDataFrame with the help of dictionary d1
student = pd.DataFrame(d1)
print(student)

     name  Age    city  Marks
0    Siya   23  Mumbai     34
1   Rahul   21    Pune     56
2  Deepak   24   Nasik     78
3     Raj   26  Indore     90
4  Suresh   19   Delhi     89

In [20]:
# To access the Paticular columns with the help of brackets:
student['name']

0      Siya
1     Rahul
2    Deepak
3       Raj
4    Suresh
Name: name, dtype: object

In [21]:
# To access the Paticular columns with help of dot: 
student.name

0      Siya
1     Rahul
2    Deepak
3       Raj
4    Suresh
Name: name, dtype: object

In [22]:
# To access the multiple columns of all the students
student[['name','Marks']]

     name  Marks
0    Siya     34
1   Rahul     56
2  Deepak     78
3     Raj     90
4  Suresh     89

In [24]:
col = ['name','city']
student[col]

     name    city
0    Siya  Mumbai
1   Rahul    Pune
2  Deepak   Nasik
3     Raj  Indore
4  Suresh   Delhi

In [25]:
student

     name  Age    city  Marks
0    Siya   23  Mumbai     34
1   Rahul   21    Pune     56
2  Deepak   24   Nasik     78
3     Raj   26  Indore     90
4  Suresh   19   Delhi     89

In [26]:
# to access all details of 3rd students means 2nd index data.
# Use iloc inbuilt method , iloc means index location.
student.iloc[2]     # DataFramename.iloc[row,index]

name     Deepak
Age          24
city      Nasik
Marks        78
Name: 2, dtype: object

In [27]:
# To access paticular details of paticular student means 2nds student.
# Cell means intersection of row and column.
student.iloc[1,2]

'Pune'

In [28]:
# or use loc inbuilt method.
student.loc[1,"city"]   # student.loc[row:index , "columns name"]

'Pune'

In [29]:
# or if you don't want to use the loc or iloc inbuilt methods.
student["city"][1]

'Pune'

# Slicing

In [ ]:
# Access data through slicing
# [row start index : stop index : step , Column start : stop : step]

In [31]:
# Direct slicing will give you an error for the command
# So use iloc inbuilt method for the slicing.
student.iloc[1:3,1:]

   Age   city  Marks
1   21   Pune     56
2   24  Nasik     78

In [32]:
# To Access all details of 1st index and 2nd index student.
student.iloc[1:3,]

     name  Age   city  Marks
1   Rahul   21   Pune     56
2  Deepak   24  Nasik     78

In [33]:
# To Access all student but last column details only.
student.iloc[:,-1]    # student[row start : row stop : row step , col index]

0    34
1    56
2    78
3    90
4    89
Name: Marks, dtype: int64

In [34]:
# To Show all details of last 3 students
student.iloc[-3:,]

     name  Age    city  Marks
2  Deepak   24   Nasik     78
3     Raj   26  Indore     90
4  Suresh   19   Delhi     89

In [35]:
# THERE ARE 2 TYPES OF Data
# 1. Structure Data.
# 2. Unstructure Data


# 1. Structure Data means to store data in tabular format means in the form of rows and columns
#    Extension: Excel file.xlsx ,sql file.sql and .csv

# 2. Unstructure Data means to store data in text format (.doc, .text.rtf,image, 
#    audio file, video file)

In [36]:
# Extracting Data from various Source in Structured format:

# 1. Clipboard
# 2. .csv file : comma separated values
# 3. Use in Real life

In [ ]:
# Exract data from clipboard :- 
# Clipboard:-  It is temporary memory of system. Its hold data temorary and hold current data after
#              cut and copy and delete old one


# Extract data in tabular form from any webpages of websites how to do work?

In [37]:
# Data Analysis of IPL Winner team 2008 to 2021
# Read Data from clipboard then use inbuilt function  read_clipboard():
# Which function define in pandas library.

ipl_winners=pd.read_clipboard()  # here ipl_winner user defined data frame

In [38]:
ipl_winners

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
0,2021,Chennai Super Kings,Kolkata Knight Riders,Dubai,8,Faf du Plessis
1,2020,Mumbai Indians,Delhi Capitals,Dubai,8,Trent Boult
2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
3,2018,Chennai Super Kings,Sunrisers Hyderabad,Mumbai,8,Shane Watson
4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya
5,2016,Sunrisers Hyderabad,Royal Challengers Bangalore,Bangalore,8,Ben Cutting
6,2015,Mumbai Indians,Chennai Super Kings,Kolkata,8,Rohit Sharma
7,2014,Kolkata Knight Riders,Kings XI Punjab,Bangalore,8,Manish Pandey
8,2013,Mumbai Indians,Chennai Super Kings,Kolkata,9,Kieron Pollard
9,2012,Kolkata Knight Riders,Chennai Super Kings,Chennai,9,Manvinder Bisla
10,2011,Chennai Super Kings,Royal Challengers Bangalore,Chennai,10,Murali Vijay
11,2010,Chennai Super Kings,Mumbai Indians,Mumbai,8,Suresh Raina
12,2009,Deccan Chargers,Royal Challengers Bangalore,Johhanesburg,8,Anil Kumble
13,2008,Rajasthan Royals,Chennai Super Kings,Mumbai,8,Yusuf Pathan

In [40]:
# To show 1st five reocrds, then use unbilt method head() which will be showing the 1st five records 
# by default it will be showing 1st five records
ipl_winners.head()

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
0,2021,Chennai Super Kings,Kolkata Knight Riders,Dubai,8,Faf du Plessis
1,2020,Mumbai Indians,Delhi Capitals,Dubai,8,Trent Boult
2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
3,2018,Chennai Super Kings,Sunrisers Hyderabad,Mumbai,8,Shane Watson
4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya

In [41]:
# To show last 5 records, then use inbuilt method of tail()
ipl_winners.tail()

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
9,2012,Kolkata Knight Riders,Chennai Super Kings,Chennai,9,Manvinder Bisla
10,2011,Chennai Super Kings,Royal Challengers Bangalore,Chennai,10,Murali Vijay
11,2010,Chennai Super Kings,Mumbai Indians,Mumbai,8,Suresh Raina
12,2009,Deccan Chargers,Royal Challengers Bangalore,Johhanesburg,8,Anil Kumble
13,2008,Rajasthan Royals,Chennai Super Kings,Mumbai,8,Yusuf Pathan

In [42]:
ipl_winners.columns   # to show all columns of given dataset in list.

Index(['Year', 'Winner', 'Runner Up', 'Venue', 'Number of teams',
       'Player of the Match'],
      dtype='object')

In [45]:
# How many rows and columns in given dataset, then use shape method 
ipl_winners.shape

(14, 6)

In [46]:
# To show all information of given dataset:
ipl_winners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 14 non-null     int64
 1   Winner               14 non-null     object
 2   Runner Up            14 non-null     object
 3   Venue                14 non-null     object
 4   Number of teams      14 non-null     int64
 5   Player of the Match  14 non-null     object
dtypes: int64(2), object(4)
memory usage: 800.0+ bytes

In [48]:
ipl_winners.describe()   # to shows statistical operation on numerical column

            Year  Number of teams
count    14.0000        14.000000
mean   2014.5000         8.285714
std       4.1833         0.611250
min    2008.0000         8.000000
25%    2011.2500         8.000000
50%    2014.5000         8.000000
75%    2017.7500         8.000000
max    2021.0000        10.000000

In [49]:
ipl_winners

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
0,2021,Chennai Super Kings,Kolkata Knight Riders,Dubai,8,Faf du Plessis
1,2020,Mumbai Indians,Delhi Capitals,Dubai,8,Trent Boult
2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
3,2018,Chennai Super Kings,Sunrisers Hyderabad,Mumbai,8,Shane Watson
4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya
5,2016,Sunrisers Hyderabad,Royal Challengers Bangalore,Bangalore,8,Ben Cutting
6,2015,Mumbai Indians,Chennai Super Kings,Kolkata,8,Rohit Sharma
7,2014,Kolkata Knight Riders,Kings XI Punjab,Bangalore,8,Manish Pandey
8,2013,Mumbai Indians,Chennai Super Kings,Kolkata,9,Kieron Pollard
9,2012,Kolkata Knight Riders,Chennai Super Kings,Chennai,9,Manvinder Bisla
10,2011,Chennai Super Kings,Royal Challengers Bangalore,Chennai,10,Murali Vijay
11,2010,Chennai Super Kings,Mumbai Indians,Mumbai,8,Suresh Raina
12,2009,Deccan Chargers,Royal Challengers Bangalore,Johhanesburg,8,Anil Kumble
13,2008,Rajasthan Royals,Chennai Super Kings,Mumbai,8,Yusuf Pathan

In [51]:
ipl_winners["Winner"].unique()

array(['Chennai Super Kings', 'Mumbai Indians', 'Sunrisers Hyderabad',
       'Kolkata Knight Riders', 'Deccan Chargers', 'Rajasthan Royals'],
      dtype=object)

In [52]:
# How many times the teams win the ipl, use value_counts()
ipl_winners["Winner"].value_counts()

Mumbai Indians           5
Chennai Super Kings      4
Kolkata Knight Riders    2
Sunrisers Hyderabad      1
Rajasthan Royals         1
Deccan Chargers          1
Name: Winner, dtype: int64

# Conditional filtering

In [53]:
# Only wants the details of paticular teams.
# to Display those reocrds whose winner = "Mumbai Indians"
ipl_winners[ipl_winners["Winner"]=="Mumbai Indians"]

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
1,2020,Mumbai Indians,Delhi Capitals,Dubai,8,Trent Boult
2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya
6,2015,Mumbai Indians,Chennai Super Kings,Kolkata,8,Rohit Sharma
8,2013,Mumbai Indians,Chennai Super Kings,Kolkata,9,Kieron Pollard

In [ ]:
# Apply Multiple condition : use logical operator:
# in python
'''
and      & (ampercend)
or       | (Pipeline)
not      ! 
'''

In [55]:
# to display those records whose winner = "Mumbais Indians" teams
# and venue = "Hyderabad"
ipl_winners[(ipl_winners["Winner"]=="Mumbai Indians") & (ipl_winners["Venue"]=="Hyderabad")]

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya